



{% include 'header.html' %}


<section class="main">
    <!-- <img src="images/package-background 2.jpg" alt="fondo - entrega" class="background"> -->
    <h1 class="main-title">Hacemos envíos a toda Argentina</h1>
</section>
<h2 class="scn-title">¿Por qué elegirnos?</h2>
<section class="cards">

    <div class="card-left">
        <h2>Rápido</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe culpa expedita commodi totam omnis nemo rerum
            nam molestias voluptatem rem!
        </p>
        <img class="card-img" src="{{url_for('static', filename='images/clock-violet-removebg-preview.png')}}">
    </div>
    <div class="card-right">
        <h2>Seguro</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, quos?</p>
        <img class="card-img" src="{{url_for('static', filename='images/safe-violet-removebg-preview.png')}}">
    </div>
    <div class="card-left">
        <h2>A cualquier lugar</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloremque laudantium, illo cum ducimus
            saepe.</p>
        <img class="card-img" src="{{url_for('static', filename='images/argentina-violet-removebg-preview.png')}}">
    </div>
    <div class="card-right">
        <h2>Soporte 24 horas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellat ex ullam?</p>
        <img class="card-img" src="{{url_for('static', filename='images/support-violet-removebg-preview.png')}}">
    </div>

</section>

<section class="who-are-we" id="quienes-somos">


    <div class="split">
        <h2 class="scn-title-2">¿Quienes somos?</h2>
        <p>Frontend Envíos es una empresa fundada lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            reiciendis ipsa eveniet repellendus assumenda odit sapiente omnis quas voluptatibus recusandae vel. Earum
            voluptatem necessitatibus alias, dolores aliquid saepe inventore, aperiam nemo laboriosam recusandae ea
            animi modi error in explicabo velit corporis vero eaque doloribus voluptatum unde omnis est! Corporis
            blanditiis perferendis aliquid vitae alias iure labore libero, assumenda voluptates porro illum fugit
            facilis quis nulla quia laboriosam dignissimos recusandae autem facere exercitationem vero pariatur aperiam
            esse quaerat? Expedita perspiciatis voluptatibus saepe blanditiis exercitationem dolor tempore nisi enim
            perferendis, aliquam nobis quaerat voluptatum id aspernatur veniam reiciendis possimus eveniet! Obcaecati,
            repudiandae.</p>
        <img src="{{url_for('static', filename='images/delivery-man.jpg')}}" alt="empleado frontend envíos">
    </div>
</section>


{% include 'footer.html' %}